<header style="margin-bottom: 30px">
  <h1>
    Editing booking id:<%= @booking.id %>
  </h1>
</header>
<%= render "form", booking: @booking %>

<br>

<div>
  <%= link_to "Show this booking", @booking %> |
  <%= link_to "Back to bookings", bookings_path %>
</div>
